$light_grey: #f1f1f1

*
  box-sizing: border-box

body
  margin: 0
  font-family: 'Open Sans', sans-serif
  font-size: 13px

ul
  list-style-type: none
  padding: 0
  margin: 0

.page-main
  width: 100%

.menu
  position: fixed

.page-header
  position: fixed
  display: flex

  align-items: center
  padding: 11px 13px

  width: 20%
  height: 54px

.search-chats
  padding: 12px 14px
  height: 32px
  background-color: $light_grey
  border: 2px solid transparent
  border-radius: 4px
  width: 100%

  &:focus
    outline: none
    border: 2px solid #5ec6f4
    background-color: #FFF

#open-menu-button
  width: 38px
  height: 38px

  margin-right: 7px

  border-radius: 50%
  border: none

  background-color: white

  img
    width: 17px

  &:active
    background-color: $light_grey

  &:focus
    outline: none

.chat-block
  overflow-y: auto
  position: fixed
  top: 54px

  width: 20%
  height: 100%

  .chats
    &:hover
      cursor: pointer      

  li
    height: 62px6
    overflow: hidden
    white-space: nowrap
    display: flex
    align-items: center
    color: #999999

    &:hover
      background-color: $light_grey

    .chat-name
      font-weight: bold
      color: #000
    &.selected // FOR SELECTED LISTS (chats) IN CHAT-BLOCK
      background-color: #419fd9
      color: #FFF
    &.selected .chat-name
      color: #FFF
  
  .profile-picture
    display: flex
    justify-content: center
    align-items: center
    flex-shrink: 0
    width: 66px
    height: 62px
    overflow: hidden

    .wrapper
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%
      width: 46px
      height: 46px
      overflow: hidden
      background-color: #478df5
      color: #FFF
      font-size: 1.5em

      &::after
        content: "А"
        position: absolute

    img
      width: 75px
      z-index: 1
  
  .description
    overflow: hidden
    position: relative
    width: 100%

    .read-and-time, .pinned-chat
      position: absolute
    
    .read-and-time
      right: 10px
      top: 0

    .pinned-chat
      right: 14px
      bottom: 0
      width: 11px
      height: 12px
    
    .pinned-icon
      background: url("icons/pin-icon.svg") no-repeat center
      background-size: 13px

    .pinned-icon-alt
      background: url("icons/pin-icon-alt.svg") no-repeat center
      background-size: 13px
  
  .last-message
    margin: 0
    margin-top: 8px

.dialog
  position: fixed
  left: 20%

  width: 80%
  height: 100%

  border: 3px solid red
  

.message-status
  margin-right: 4px
  display: inline-block
  width: 17px
  height: 17px

.sent-received, .sent-received-alt, .sent, .sent-alt
  background-size: 17px

.sent-received
  background: url("icons/sent-and-received.svg") no-repeat center 8px

.sent-received-alt
  background: url("icons/sent-and-received-alt.svg") no-repeat center 8px

.sent
  background: url("icons/sent.svg") no-repeat center 8px

.sent-alt
  background: url("sent-alt.svg") no-repeat center 8px