$light_grey: #f1f1f1

*
  box-sizing: border-box

body
  margin: 0
  font-family: 'Open Sans', sans-serif
  font-size: 13px
  user-select: none

textarea
  font-family: 'Open Sans', sans-serif
  font-size: 13px

::placeholder
  color: #aaaaaa

button
  border: none
  cursor: pointer
  &:focus
    outline: none

ul
  list-style-type: none
  padding: 0
  margin: 0

.page-main
  width: 100%
  height: 100%
  position: fixed
  display: flex

.left-col
  flex-shrink: 0
  width: 20%
  min-width: 260px
  max-width: calc(100% - 380px)
  position: relative

  .gutter
    width: 10px
    height: 100%
    position: absolute
    right: -7px
    top: 0
  
    &:hover
      cursor: e-resize

$rightColWidth: 80%

.right-col
  width: $rightColWidth
  min-width: 380px

.menu
  position: fixed

.page-header
  display: flex

  align-items: center
  padding: 11px 13px

  width: 100%
  height: 54px

.search-chats
  padding: 12px 14px
  height: 32px
  background-color: $light_grey
  border: 2px solid transparent
  border-radius: 4px
  width: 100%

  &:focus
    outline: none
    border: 2px solid #5ec6f4
    background-color: #FFF

#open-menu-button
  width: 38px
  height: 38px

  margin-right: 7px

  border-radius: 50%

  background-color: white

  img
    width: 17px

  &:active
    background-color: $light_grey

.chat-block
  top: 54px

  width: 100%
  height: 100%

  .context-menu
    z-index: 3
    background-color: #FFF
    display: none
    box-shadow: 0 2px 6px rgba(0,0,0,0.1)
    border-radius: 5px
    padding: 8px 0
    position: absolute
    width: 180px
    border: 1px solid #e0e0e0

    li
      padding: 7px 18px
      cursor: pointer
    
      &:hover
        background-color: #f1f1f1

  .chats
    &:hover
      cursor: pointer     

    li
      height: 62px
      overflow: hidden
      white-space: nowrap
      display: flex
      align-items: center
      color: #999999

      &:hover
        background-color: $light_grey

      .chat-name
        overflow: hidden
        text-overflow: ellipsis
        display: inline-block
        font-weight: bold
        color: #000
      &.selected // FOR SELECTED LISTS (chats) IN CHAT-BLOCK
        background-color: #419fd9
        color: #FFF
      &.selected .chat-name
        color: #FFF
  
  .profile-picture
    display: flex
    justify-content: center
    align-items: center
    flex-shrink: 0
    width: 66px
    height: 100%
    overflow: hidden

    .wrapper
      display: flex
      justify-content: center
      align-items: center
      border-radius: 50%
      width: 46px
      height: 46px
      overflow: hidden
      background-color: #478df5
      color: #FFF
      font-size: 1.5em

      &::after
        content: "А"
        position: absolute

    img
      width: 75px
      z-index: 1
  
  .description
    overflow: hidden
    position: relative
    width: 100%

    .read-and-time, .pinned-chat
      position: absolute
    
    .read-and-time
      right: 10px
      top: 0

    .pinned-chat
      right: 14px
      bottom: 0
      width: 13px
      height: 13px
    
    .pinned-icon, .pinned-icon-alt
      background: url("../icons/pin-icons.svg") no-repeat
      background-size: 26px

    .pinned-icon-alt
      background-position: -14px
  
  .last-message
    overflow: hidden
    text-overflow: ellipsis
    margin: 0
    margin-top: 8px
  
.message-status
  margin-right: 4px
  display: inline-block
  width: 17px
  height: 17px

.sent-received, .sent-received-alt
  background: url("../icons/sent-received-icons.svg") no-repeat 0 8px
  background-size: 42px

.sent-received-alt
  background-position-x: -25px

.sent, .sent-alt
  background: url("../icons/sent-icons.svg") no-repeat 2px 8px
  background-size: 42px

.sent-alt
  background-position-x: -23px

.dialog
  background: url("../wp.jpg") fixed
  background-size: cover
  overflow: auto
  width: 100%
  height: 100%

  button
    border: 1px solid #6e97f5
    background-color: #FFF

  .dialog-header, .input-block
    min-width: 380px
    max-width: calc(100% - 260px)

    width: $rightColWidth

    position: fixed

    background-color: #FFF
    border-left: 1px solid #e7e7e7

  .dialog-header
    display: flex
    justify-content: space-between
    align-items: center
    height: 54px
    padding: 0 16px
    cursor: pointer

    .name, .last-seen
      display: block

    .name
      font-weight: bold

    .last-seen
      color: #999999
   
    .options
      button
        height: 16px
        width: 18px
        float: left
        margin-right: 23px

        &:last-child
          margin-right: 0

  .messages
    margin: 97px 56px 55px
    user-select: text

    .user-messages
      margin-bottom: 8px
      min-width: 94px
      max-width: 430px

    .sender
      color: #c467d6
      font-weight: bold
    
    .message-status
      margin-left: 6px

    .message
      margin: 0
      display: inline-block
    
    li
      display: inline-block
      margin-bottom: 3px 
      position: relative
      border-radius: 5px
      background-color: #FFF
      
      padding: 10px 14px

      &::after
        content: ""
        display: block
        height: 0
        clear: both
      
      .avatar
        position: absolute
        bottom: 0
        left: -42px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        width: 33px
        height: 33px
        overflow: hidden

        img
          width: 40px
    
    .additional-info
      float: right
      color: #a0acb6
      margin-left: 14px
  
  .input-block
    bottom: 0
    height: 45px

    button
      width: 22px
      height: 22px

    .attach-button, .send-buttons
      cursor: pointer

    .attach-button
      padding-bottom: 9px
      display: flex
      justify-content: center
      align-items: flex-end
      position: fixed
      width: 49px
      height: inherit
      border: none

      img
        width: 25px

    .input-message
      -ms-overflow-style: none  // IE and Edge
      scrollbar-width: none     //Firefox
      &::-webkit-scrollbar
        display: none

      border: none
      outline: none
      margin-left: 49px
      margin-top: 12px
      resize: none
      width: calc(100% - 49px - 104px) // 49px - 'attach-button' width, 104px - 'send-buttons' width

    .wrapper
      position: absolute
      top: 0
      right: 0
      width: 104px
      height: inherit
      .send-buttons
        padding-bottom: 10px
        background-color: #FFF
        position: fixed
        width: inherit
        height: inherit
    
        display: flex
        justify-content: space-around
        align-items: flex-end